.detail{width:95%;height:auto;padding: .1rem;margin: 0 auto}
.detailbox{width:95%;margin:0 auto;padding: .05rem;border: 1px solid #D8DADC;height:100%}
.detailpage{width:95%;margin:0 auto;position: relative;height:100%}
.detailpage h3{color: darkgray;margin-bottom: .05rem}
.detailpage img{width:100%;height:2.24rem}
.detailpage h2{margin-top: .05rem;margin-bottom: .1rem}
